:root {
  --page-width: 90%;
  --header-height: 8vh;
  --hamburger-icon-size: 40px;
  --background-color: #f7f1e3;
  --divider-size: 25vh;
  --projects-img-size: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--page-width);
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: var(--page-width);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0px;
  background-color: var(--background-color);
  z-index: 100;
  border-bottom: 1px solid black;
}

#brand {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

#brand-name {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#brand-name a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

.navbar {
  position: sticky;
  background-color: var(--background-color);
  top: calc(var(--header-height) + 20px);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  padding: 35px;
  z-index: 2;
}

#navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  list-style: none;
  font-weight: bold;
}

#navbar-links a {
  text-decoration: none;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  padding: 0px 10px;
}
#navbar-links a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(211, 211, 211, 0.5);
}

.menu-btn {
  visibility: hidden;
  position: absolute;
  right: calc(var(--hamburger-icon-size) / 2);
  top: calc(var(--header-height) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--hamburger-icon-size);
  height: var(--hamburger-icon-size);
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.menu-btn-hamburger {
  display: flex;
  position: absolute;
  bottom: calc(var(--hamburger-icon-size) / 1.5);
  width: calc(var(--hamburger-icon-size) * 0.7);
  height: calc(var(--hamburger-icon-size) * 0.1);
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  border-radius: 5px;
  /* Add box shadow for nice effect. Not good for perfomance! */
}

.menu-btn-hamburger::before,
.menu-btn-hamburger::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  border-radius: 5px;
}

.menu-btn-hamburger::before {
  transform: translatey(-250%);
}

.menu-btn-hamburger::after {
  transform: translatey(250%);
}

main {
  width: 100%;
  position: relative;
  top: calc(var(--header-height) + 6vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1000px;
  height: auto;
  padding: 20px 0px;
  margin: 10vh 0px;
  text-align: center;
}

.presentation h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 80px;
  padding-right: 20px;
}

.presentation .presentation-info {
  width: 25%;
  padding-left: 20px;
}

.presentation p {
  display: flex;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(212, 207, 194, 0.2);
  padding: 0px 20px;
  width: 100%;
  height: 100%;
}

.profile-img {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  transform: translateY(-30%);
}

.profile-img img {
  max-width: 300px;
  border-radius: 100%;
}

#contact {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 400px;
  height: auto;
  padding: 20px 0px;
  margin: 10vh 0px 25vh;
  text-align: left;
}

#contact h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 80px;
  padding-right: 10%;
}

#contact p {
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(212, 207, 194, 0.2);
  padding: 20px;
  width: 100%;
  height: 100%;
}

#contact-info {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
}

#contact-info form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact-info #submit {
  display: flex;
  justify-content: center;
  width: 100px;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 5px;
}

#contact-info input {
  margin-bottom: 10px;
}

#contact-info textarea {
  resize: none;
  width: auto;
  padding: 10px;
}

#email {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#email a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

#email a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(211, 211, 211, 0.5);
}

#cv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

#cv1 img {
  display: flex;
  justify-content: center;
  width: 800px;
  height: auto;
}

.projects-gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-item img {
  max-width: 80%;
  max-height: 80%;
  margin: 20px 0px 20px 0px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
.projects-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--projects-img-size);
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    rgba(247, 241, 227, 0.8),
    rgba(219, 211, 192, 0.8)
  );
  border-radius: 5px;
  margin: 20px 20px;
  padding: 10px;
  text-align: center;
}

.projects-item img {
  width: var(--projects-img-size);
  height: var(--projects-img-size);
  object-fit: cover;
  /* object-position: top; */
}

.projects-item.mimu img {
  background: linear-gradient(
      to bottom right,
      rgba(247, 241, 227, 0.9),
      rgba(247, 241, 227, 0.9)
    ),
    url(../imgs/projects/MiMu/namroud-gorguis-FZWivbri0Xk-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: var(--projects-img-size);
  height: var(--projects-img-size);
  object-fit: contain;
  object-position: top;
  padding-top: 40px;
}

#projects a {
  text-decoration: none;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  padding: 20px 10px;
  text-transform: uppercase;
  font-weight: bold;
}
#projects a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(167, 165, 165, 0.5);
}

.news-item p {
  width: 100%;
  text-align: center;
  padding: 20px;
}

#news {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 10%; */
}

#news h2 {
  color: rgba(0, 0, 0, 0.6);
  padding: 25vh 0px 0px;
  font-size: 40px;
}

.news-item {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 400px;
  height: auto;
  min-height: 50vh;
  flex-wrap: wrap;
  text-align: left;
}

.news-item h3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding: 20px 0px;
  font-size: 25px;
}

.news-item p {
  padding: 0px 18%;
}

.news-item ul {
  padding-top: 20px;
}

.news-item a {
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  text-transform: uppercase;
  font-weight: bold;
  width: 20px;
  margin: 20px;
}

.news-item a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(211, 211, 211, 0.5);
}

.vertical-line {
  background-color: rgba(211, 211, 211, 0.5);
  height: 100%;
  width: 20px;
  /* Maybe generate random number on every hover for the transform? */
  transform: translateX(-650%);
  opacity: 0;
  transition: 0.5s;
}

.horisontal-line {
  width: calc(var(--divider-size) * 3);
  background-color: black;
  height: 1px;
}

.news-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.news-standard,
.news-border,
.news-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 16px;
}

.news-border {
  border: 1px solid black;
}

.news-grey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-size: 16px;
  background: linear-gradient(
    var(--background-color),
    rgba(230, 222, 204, 0.2)
  );
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid black;
  padding-bottom: 25px;
}

.news-img {
  background: linear-gradient(
      to bottom right,
      rgba(247, 241, 227, 0.9),
      rgba(247, 241, 227, 0.9)
    ),
    url(../imgs/italy-1587287_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
  border: 1px solid rgba(0, 0, 0, 0.5);
  /* height: 50vh; */
}

.news-divider {
  background-color: black;
  height: var(--divider-size);
  width: 1px;
}

/* .news-divider-fade-in{
    background: linear-gradient(var(--background-color), black);
    height: var(--divider-size);
    width: 1px;
}

.news-divider-fade-out{
    background: linear-gradient(black, var(--background-color));
    height: var(--divider-size);
    width: 1px;
} */

.news-divider-empty {
  height: var(--divider-size);
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50vh;
  bottom: 0px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  background: linear-gradient(
      rgba(247, 241, 227, 0.92),
      rgba(247, 241, 227, 0.92)
    ),
    url(../imgs/braden-collum-LDh4LAV2Duc-unsplash.jpg);
  background-size: cover;
  margin-top: 10%;
}

footer ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.fa-facebook,
.fa-linkedin {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  height: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
  opacity: 0.7;
  transition: 0.5s;
}
.fa-github {
  padding: 20px;
  font-size: 80px;
  width: 70px;
  height: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
  opacity: 0.7;
  transition: 0.5s;
}

.fa:hover {
  opacity: 1;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* HAMBURGER MENU ANIMATION */
.menu-btn.open .menu-btn-hamburger::before,
.menu-btn.open .menu-btn-hamburger::after {
  transform: translateY(0%);
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  :root {
    --page-width: 100%;
    --projects-img-size: 350px;
  }

  #cv1 img {
    display: flex;
    justify-content: center;
    width: 500px;
    height: auto;
  }

  #brand-name {
    font-size: 18px;
    letter-spacing: 1px;
  }
  .menu-btn {
    visibility: visible;
  }

  .navbar {
    position: fixed;
    height: var(--header-height);
    /* width:90%; */
    transform: translateY(-100%);
    font-size: 15px;
    letter-spacing: 1px;
    padding: 35px 5px;
    opacity: 0;
    transition: 0.5s;
  }

  .navbar.open {
    transform: translateY(0%);
    opacity: 1;
  }

  main {
    top: var(--header-height);
  }

  .presentation {
    flex-direction: column;
    align-items: center;
  }

  .presentation h1 {
    font-size: 60px;
    padding: 0px;
  }

  .presentation-info {
    margin-top: 20px;
    word-wrap: normal;
  }

  .news-grey {
    width: 80%;
  }

  #contact {
    flex-direction: column;
    align-items: center;
  }

  #contact textarea {
    width: auto;
  }

  #contact h1 {
    text-align: center;
    margin-bottom: 40px;
    /* padding: 0px; */
  }

  footer ul {
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
  :root {
    --projects-img-size: 200px;
    --header-height: 4.5vh;
  }

  .menu-btn {
    visibility: visible;
  }
  header {
    padding: 30px 0px;
  }
  .navbar {
    position: fixed;
    height: var(--header-height);
    width: 90%;
    transform: translateY(-100%);
    font-size: 15px;
    letter-spacing: 1px;
    padding: 35px 5px;
    opacity: 0;
    transition: 0.5s;
  }

  .navbar.open {
    transform: translateY(0%);
    opacity: 1;
  }

  main {
    top: var(--header-height);
  }

  .presentation {
    flex-direction: column;
    align-items: center;
  }

  .profile-img {
    transform: translateY(-10%);
  }

  .presentation h1 {
    font-size: 60px;
    padding: 0px;
  }

  .presentation-info {
    margin-top: 20px;
    word-wrap: normal;
  }

  .news-grey {
    width: 80%;
  }

  .projects-item {
    width: auto;
  }
  .projects-item img {
    height: auto;
  }

  #contact {
    flex-direction: column;
    align-items: center;
  }

  #contact textarea {
    width: auto;
  }

  #contact h1 {
    text-align: center;
    margin-bottom: 40px;
    /* padding: 0px; */
  }

  footer ul {
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
}
